#pageHead {
  width: 150px;
  height: 130px;
}

/* トップ画像 */
#irheader img {
  width: 1920px;
  height: 250px;
  object-fit: cover;
}


#pankuzu {
  font-size: 12px;
	color: #999999;
  padding: 0 250px;
}


/* メインボディワン */
#mainone {
  width: 800px;
  height: 1888px;
  margin: 0 auto;
}

#irheader #irheaderone  {
  position: absolute;/*絶対配置*/
  font-size: 20px;
  color: #FFFFFF;/*文字は白に*/
  top: 10px;
  left: 200px;
}

#irheader #irheadertwo  {
  position: absolute;/*絶対配置*/
  font-size: 28px;
  line-height: 42px;
  color: #FFFFFF;/*文字は白に*/
  top: 50px;
  left: 200px;
  
}


#irheader {
  position: relative;
}

/* シェアタグ */

#shareone {
  padding: 30px;
}

.share p {
  float: right;
  font-size: 10px;
  color: #333333;
  line-Height: 15px;
  padding
}

.share img {
  float: right;
  width: 24px;
  height: 24px;
  padding: 10px ;
}

/* メインページ */


/* ボタン */
.degitalbtn {
  width:296px;
  height:70px;
  line-height:70px;
  margin: 0 auto;
  padding-right: 2.5em;
}
.degitalbtn a{
  display:block;
  width:100%;
  height:100%;
  text-decoration: none;
  background:#005BAC;
  text-align:center;
  color:#FFFFFF;
  font-size: 9px;
}
.degitalbtn a:hover{
  background:#005BAC;
  color:#FFFFFF;
  margin-left:0px;
  margin-top:0px;
  box-shadow:none;
  opacity: 0.5;
}

#Businessmodel {
  width: 820px;
  height: 30px;
  margin: 0 30px 30px 0;

}

#Businesleft {
  float: left;
  font-size: 16px;
}

#Businesright {
  float: right;
  font-size: 16px;
}

#degitalbotan {
  width: 800px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* NRIの強み */
#nristrong {
  width: 800px;
  height: 241px;
  padding: 15px 20px;
  background-color: #deecf8;
}

#nristrongtext {
  width: 760px;
  height: 30px;
}

#nristrongtext p {
  font-size: 16px;
  Line-height: 30px;
}

/* NRIのつよみ・ボタン */

.bw-arrow {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	background-color: #FFFFFF;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #0c419a;
	font-size: 16px;
	padding: 15px;
	text-align: center;
	max-width: 239px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
}

.bw-arrow > *:first-child {
	width: calc(100% - 10px * 3);
}

.bw-arrow::Before {
	content: '';
	display: inline-block;
	padding: 0;
	width: 5px;
	height: 5px;
	border-top: solid 2px #333333;
	border-right: solid 2px #333333;
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
	-webkit-transform: rotate(45deg) translateX(-5px) translateY(5px);
	-ms-transform: rotate(45deg) translateX(-5px) translateY(5px);
	transform: rotate(45deg) translateX(-5px) translateY(5px);
}

.bw-arrow:hover {
	opacity: 0.5;
}

a.bw-arrow:link, a.bw-arrow:active, a.bw-arrow:hover, a.bw-arrow:visited {
	color: #0c419a;
	text-decoration: none;
}

button.bw-arrow {
	width: 100%;
	border: none;
	cursor: pointer;
}

/* NRIの強みのボタンの枠 */

.bw-arrowframe {
  display: inline-block;
  width: 259px;
  height: 90px;
}



/* NRIのつよみ・ボタン 下段*/

.bw-arrowunder {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	background-color: #FFFFFF;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #0c419a;
	font-size: 16px;
	padding: 15px;
	text-align: center;
	max-width: 239px;
  height: 51px;
  margin-left: auto;
  margin-right: auto;
}

.bw-arrowunder > *:first-child {
	width: calc(100% - 10px * 3);
}

.bw-arrowunder::Before {
	content: '';
	display: inline-block;
	padding: 0;
	width: 5px;
	height: 5px;
	border-top: solid 2px #333333;
	border-right: solid 2px #333333;
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
	-webkit-transform: rotate(45deg) translateX(-5px) translateY(5px);
	-ms-transform: rotate(45deg) translateX(-5px) translateY(5px);
	transform: rotate(45deg) translateX(-5px) translateY(5px);
}

.bw-arrowunder:hover {
	opacity: 0.5;
}

a.bw-arrowunder:link, a.bw-arrow:active, a.bw-arrow:hover, a.bw-arrow:visited {
	color: #0c419a;
	text-decoration: none;
}

button.bw-arrowunder {
	width: 100%;
	border: none;
	cursor: pointer;
}

/* NRIの強みのボタンの枠 */

.bw-arrowframeunder {
  display: inline-block;
  width: 259px;
  height: 90px;
}
